@page
@model RazorFirstApp.Pages.forms.BurgersModel
@{
}

<div class="text-center">
    <div class="main-text">
        <h3 class="display-4 text-capitalize text-black">Our great selection of Burgers</h3>
        <h4 >Choose one, or try our selection of Burgers!</h4>
        <h4 >Then order and done!</h4>
        <p class="smallText">Only one Burger per order</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                 <div class="w-100 row mademyDiv">
                    <div class="col-4">
                        <img src="~/Images/LogoBurger.png" class="w-10"/>
                    </div>
                    <div class="col-8 align-items-center">
                        <div class="align-middle mademyText ">
                            <h3 style="text-align:left;">Create your Burger</h3>
                            <p style="text-align:left;">Add your own toppings with our maker</p>
                             <a class="btn btn-primary mt-1" style="float:left;" asp-area="" asp-page="/forms/CustomBurgers">Try Now</a>
                        </div>
                    </div>
                </div>
            </div>
            @foreach(var Burgers in Model.fakeDB)
                {
               
                var ImagePath = "~/Images/" + (Burgers.ImageTitle + ".jpg");
                <div class="col-4 mb-5">
                    <div class="mademyDiv MyImages">
                   <a class="" asp-area=""  asp-page="/Checkout/Checkout" asp-route-ImageTitle="@Burgers.ImageTitle" asp-route-BurgerPrice="@Burgers.FinalPrice" >
                   <img src="@ImagePath" class="w-10" asp-append-version="true" /></a>
                   <h4 class="mademyText">@Burgers.BurgerName</h4>
                    </div>
                </div>
                }
                
        </div>
    </div>
   
</div>