@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
        <div class="main-text">
        <h1 class=" text-capitalize text-black"  >Welcome to RazzorBurger Website</h1>
         <h2 class="=mainSubTitle">In 30 min Delivery at your doorstep  </h2>
        </div>
     <br/>
     <div>
        <img class="MainImage" src="~/Images/BurgerDelivery.jpg"/>
        
         <a class="btn btn-primary mt-1" asp-area="" asp-page="/forms/Burgers">So Order Fast!</a>
      </div>
</div>