@page
@model RazorFirstApp.Pages.Checkout.checkoutModel
@{
}
<h1>Your Order!</h1>
@{
var imagePath="~/Images/" +(@Model.ImageTitle+".png");
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src="@imagePath" class="w-100" asp-append-version="true"/>
        <p>Your order @Model.BurgerName is ready</p>
        <p>Total price for your order is :$ @Model.BurgerPrice</p>
        <br/>
        <a class="btn btn-primary mt-1 mx-auto" asp-area="" asp-page="~/Checkout/Thankyou">Confirm Order</a>
    </div>
</div>